<!DOCTYPE html>
<html>
<head>
    <title>Packing</title>
    <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
    <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <script type="text/javascript">

    var my_data;

    function add_item(){
        var item = $$("data_list").getSelectedItem();
        $$("do_list").add(item);
        $$("do_list").refresh();
        var id = item.id;

        webix.ajax().post("/add_item", {"id": id});
    }

    function do_pack(){
        webix.ajax().post("/do_pack", function(text){
            webix.message(text); //show server side response
        });
    }

    function init_data(){
        webix.ajax().post("/init_data", function(text){
            $$("data_list").define("data", text);
            $$("data_list").refresh();
        });
    }


    webix.ready(function(){

    webix.ui({
        rows: [
            { 
                view: "toolbar",
                id: "myToolbar",
                cols: [
                    { },
                    { view: "button", value: "Add", width: 150, click: add_item },
                    { view: "button", value: "Pack", width: 150, click: do_pack },
                    { },
                ]
            },
            { 
                cols: [
                    {   view: "list",
                        id: "data_list",
                        template: "#name#",
                        select: true,
                    },
                    {   view: "list",
                        id: "do_list",
                        template: "#name#",
                        select: true,
                    },
                ]
            }
        ]
        });

    init_data();

    });

    </script>
</body>
</html>
